@font-face {
    font-family: 'Lexend Deca';
    src: url(https://fonts.google.com/specimen/Lexend+Deca);
}
@font-face {
    font-family: 'Big Shoulders Display';
    src: url(https://fonts.google.com/specimen/Big+Shoulders+Display);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 95%);
}
main{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 5px;
}
.first-content{
    background-color: hsl(31, 77%, 52%);
    padding: 2em;
    height: 50%;
}
.first-content h1{
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
    font-size: bold;
    font-family:'Big Shoulders Display';
    font-weight: 700;
}
.first-content p{
    color: white;
    font-size: 15px;
    padding: 10px;
    font-family: 'Lexend Deca';
    font-weight: 400;
}

.second-content{
    background-color: hsl(184, 100%, 22%);
    padding: 2em;
    height: 50%;
}
.second-content h1{
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
    font-size: bold;
    font-family:'Big Shoulders Display';
    font-weight: 700;
}
.second-content p{
    color: white;
    font-size: 15px;
    padding: 10px;
    font-family: 'Lexend Deca';
    font-weight: 400;
}

.third-content{
    background-color: hsl(179, 100%, 13%);
    padding: 2em;
    height: 50%;
}
.third-content h1{
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
    font-size: bold;
    font-family:'Big Shoulders Display';
    font-weight: 700;
}
.third-content p{
    color: white;
    font-size: 15px;
    padding: 10px;
    font-family: 'Lexend Deca';
    font-weight: 400;
}
.first{
    background-color: white;
    border: 1px solid hsl(31, 77%, 52%);
    border-radius: 15px;
    width: 100px;
    height: 30px;
    color: hsl(31, 77%, 52%);
}    
.second{
    background-color: white;
    border: 1px solid hsl(184, 100%, 22%);
    border-radius: 15px;
    width: 100px;
    height: 30px;
    color: hsl(184, 100%, 22%);
}
.third{
    background-color: white;
    border: 1px solid hsl(179, 100%, 13%);
    border-radius: 15px;
    width: 100px;
    height: 30px;
    color: hsl(179, 100%, 13%);
}
